<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RPI-PROJECT</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <button class="button-4" id="get-data-button">Get current distance</button>
    <button class="button-4" id="write-data-button">Save to the database</button>
    <button class="button-4" id="read-data-button">Get all measurements from the database</button>
    <button class="button-4" id="delete-data-button">Delete all measurements from the database</button>

    <p>Distance[cm]: <span id="dist-data"></span></p>
    <p>Red LED state: <span id="r-led-data"></span></p>
    <p>Green LED state: <span id="g-led-data"></span></p>

    <script src="/js/index.js"></script>
</body>
</html>